ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkorange;
}

li {
  list-style-type: none;
  float: left;
  background-color: darkorange;
}

li a {
  display: block;
  color: maroon;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: orange;
}

li a:hover {
  background-color: orange;
}

h1 {
     font-family: monospace; 
     font-size: 17px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 34px; 
     background-color: goldenrod;
} 
h3 { 
     font-family: monospace; 
     font-size: 20px; 
     font-style: normal; 
     font-variant: small-caps; 
     font-weight: bold; 
     line-height: 40px;
     background-color: orange;
} 
p {  
     font-family: monospace; 
     font-size: 12px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 24px; 
     background-color: yellow;
}
blockquote {
     font-family: monospace;
     font-size: 10px;
     font-style: normal;
     font-variant: normal;
     font-weight: 100;
     line-height: 20px;
     bockground-color: beige;
}
}
pre { 
     font-family: monospace;
     font-size: 12px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     line-height: 24px; 
     background-color: darkorange;
}
body {
     background-color: lightyellow;
}
html {
     background-image: linear-gradient(to right, yellow , goldenrod);
}
